<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="/images/banner.jpg" alt="">

<div id="carouselControls" class="carousel slide margin" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active item">
            <img class="d-block w-100 banner" src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png" alt="First slide">
        </div>
    </div>
</div>

</body>
</html>